In [1]:
import yfinance as yf

dow_jones_tickers = [
    "AAPL", "AMGN", "AXP", "BA", "CAT", "CRM", "CSCO", "CVX", "DIS", "DOW",
    "GS", "HD", "HON", "IBM", "INTC", "JNJ", "JPM", "KO", "MCD", "MMM",
    "MRK", "MSFT", "NKE", "PG", "TRV", "UNH", "V", "VZ", "WBA", "WMT"
]

df = yf.download(dow_jones_tickers, start='2015-10-01', end='2024-09-30').stack(level='Ticker').reset_index()

df.columns.name = None

df

[*********************100%***********************]  30 of 30 completed
C:\Users\mhugh\AppData\Local\Temp\ipykernel_21128\2155185092.py:9: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df = yf.download(dow_jones_tickers, start='2015-10-01', end='2024-09-30').stack(level='Ticker').reset_index()

,Date,Ticker,Adj Close,Close,High,Low,Open,Volume
0,2015-10-01 00:00:00+00:00,AAPL,24.740032,27.395000,27.405001,26.827499,27.267500,255716400.0
1,2015-10-01 00:00:00+00:00,AMGN,107.875710,140.229996,140.639999,136.600006,138.550003,4675900.0
2,2015-10-01 00:00:00+00:00,AXP,64.445457,73.889999,74.599998,73.209999,74.160004,4741100.0
3,2015-10-01 00:00:00+00:00,BA,116.415627,130.610001,131.789993,128.979996,131.320007,2878400.0
4,2015-10-01 00:00:00+00:00,CAT,50.774788,64.389999,66.099998,63.610001,65.629997,7933000.0
...,...,...,...,...,...,...,...,...
67014,2024-09-27 00:00:00+00:00,UNH,581.849976,581.849976,586.710022,576.590027,577.679993,2986200.0
67015,2024-09-27 00:00:00+00:00,V,275.170013,275.170013,277.980011,272.779999,273.160004,6509600.0
67016,2024-09-27 00:00:00+00:00,VZ,44.200008,44.889999,45.049999,44.490002,44.720001,15659300.0
67017,2024-09-27 00:00:00+00:00,WBA,9.060000,9.060000,9.200000,8.600000,8.610000,27385300.0
67018,2024-09-27 00:00:00+00:00,WMT,79.779999,79.779999,80.290001,79.599998,79.900002,11899100.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67019 entries, 0 to 67018
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       67019 non-null  datetime64[ns, UTC]
 1   Ticker     67019 non-null  object
 2   Adj Close  67019 non-null  float64
 3   Close      67019 non-null  float64
 4   High       67019 non-null  float64
 5   Low        67019 non-null  float64
 6   Open       67019 non-null  float64
 7   Volume     67019 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(6), object(1)
memory usage: 4.1+ MB

In [4]:
df.to_parquet('../../data/datasets/daily_stock_prices.parquet')

print('Done')

Done